# File must be renamed to ".env" and filled with real values. --- IGNORE ---
MSSQL_SA_PASSWORD=ChangeThisPassword123!
JWT_SECRET=secret-key-of-at-least-32-characters-here
OWM_API_KEY=openweathermap-api-key-here
